[submodule "Prolog-Library-Collection"]
	path = Prolog-Library-Collection
	url = https://github.com/wouterbeek/Prolog-Library-Collection.git
[submodule "plHtml"]
	path = plHtml
	url = https://github.com/wouterbeek/plHtml.git
[submodule "plRdf"]
	path = plRdf
	url = https://github.com/wouterbeek/plRdf.git
[submodule "plServer"]
	path = plServer
	url = https://github.com/wouterbeek/plServer.git
[submodule "plTabular"]
	path = plTabular
	url = https://github.com/wouterbeek/plTabular.git
[submodule "plGraphViz"]
	path = plGraphViz
	url = https://github.com/wouterbeek/plGraphViz.git
[submodule "lodCache"]
	path = lodCache
	url = https://github.com/wouterbeek/lodCache.git
[submodule "plSparql"]
	path = plSparql
	url = https://github.com/wouterbeek/plSparql.git
[submodule "plGraph"]
	path = plGraph
	url = https://github.com/wouterbeek/plGraph.git
[submodule "plDcg"]
	path = plDcg
	url = https://github.com/wouterbeek/plDcg.git
[submodule "plXsd"]
	path = plXsd
	url = https://github.com/wouterbeek/plXsd.git
